/* remoing all the default styles of the input field */
input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  border-width: 0px;
  color: #222;
  font-size: 20px;
  font-weight: 300;
  background-color: red;
}

.input-container {
  background-color: #dce7ff;
  width: 400px;
  height: 64px;
  border-radius: 5px;
}
