/* remoing all the default styles of the input field */
input {
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
  border-width: 0px;
  color: #222;
  font-size: 17px;
  font-weight: 300;
  background-color: #dce7ff;
  width: 90%;
}

input::placeholder {
  opacity: 0.5;
  font-weight: 100;
}

input:focus {
  outline: none;
}

.input-container {
  display: flex;
  background-color: #dce7ff;
  width: 370px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding-inline-start: 10px;
  align-items: center;
  align-self: center;
}

.eye-icon {
  cursor: pointer;
}

/* to remove the default html password show/hide button */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

@media (max-width: 768px) {
  .input-container {
    width: 280px;
    height: 40px;
  }
  input {
    font-size: 0.875rem;
    width: 85%;
  }
}
