@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* body {
  background-image: url("../pages-bgimages/background.svg");
  background-repeat: no-repeat;
  background-size: cover; */
/* min-height: 100vh; */
/* background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
} */
#root {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.auth-box {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 76vh;
  margin-top: -37px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  top: 36px;
  margin-left: -400px;
  position: absolute;
}

.form p {
  color: white;
}

.form h2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  margin: 45px;
  color: white;
}

#submit {
  padding: 8px 20px;
  width: 25%;
  margin-top: 35px;
  background-color: #1d709a;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 20px;
}

.form a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

.efficient {
  position: relative;
  bottom: 59px;
  left: 100px;
  font-size: 14px;
}

.p_signup {
  margin-top: -3%;
  margin-left: 105px;
  color: white;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .form {
    margin-left: -143px;
  }

  .auth-box {
    min-height: auto;
    height: 100vh;
    padding: 20px;
  }

  .form h2 {
    font-size: 2rem;
    margin: 30px;
  }

  #submit {
    width: 50%;
  }

  .efficient {
    left: 20px;
  }

  .p_signup {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .form {
    margin-left: 0px;
  }
  .auth-box {
    min-height: auto;
    height: 96vh;
    padding: 10px;
  }

  .form h2 {
    font-size: 1.5rem;
    margin: 20px;
  }

  #submit {
    width: 70%;
  }

  .efficient {
    left: 10px;
  }

  .p_signup {
    margin-left: 10px;
  }
}

/*------ Forget Password POPUP CSS-----------*/
h3.email-popup {
  text-align: center;
  margin: 28px;
  font-size: 30px;
}

button.forgetbtn {
  display: block;
  padding: 1px 14px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  margin: 10px auto;
  background-color: #082a71;
}

button.forgetbtn:hover {
  background-color: #55b700;
}

input.forgetinput {
  margin: 18px;
  padding: 6px 25px;
  font-size: 16px;
  border: 1px solid #0e0e0e;
  border-radius: 4px;
}

input.forgetinput:focus {
  outline: none;
  border-color: #082a71;
  box-shadow: 0 0 3px #082a71;
}

img.forgotlogo {
  display: flex;
  width: 240px;
  margin: 58px auto;
}

h2.rest-pass {
  display: flex;
  justify-content: center;
}

label.pasword-forget {
  text-align: center;
  display: flex;
  justify-content: center;
}

.password-input {
  display: flex;
  justify-content: center;
  width: 25.1em;
  padding: 0px;
  margin: 1px;
}

input.pasword {
  padding: 2px 20px;
}

button.submit-forget {
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: #082a71;
  margin: 2px auto;
  display: block;
}

button.submit-forget:hover {
  background-color: #55b700;
}

.password-toggle-icon {
  padding: 5px 10px;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  h3.email-popup {
    font-size: 24px;
  }

  button.forgetbtn {
    font-size: 20px;
    padding: 1px 10px;
  }

  input.forgetinput {
    font-size: 14px;
  }

  img.forgotlogo {
    width: 180px;
    margin: 38px auto;
  }

  h2.rest-pass {
    font-size: 24px;
  }

  label.pasword-forget {
    font-size: 16px;
  }

  .password-input {
    width: 100%;
    margin: 0;
  }

  input.pasword {
    width: 100%;
  }

  button.submit-forget {
    font-size: 14px;
    padding: 6px 8px;
  }

  .password-toggle-icon {
    padding: 3px 6px;
  }
}

@media screen and (max-width: 480px) {
  h3.email-popup {
    font-size: 20px;
    margin: 18px;
  }

  button.forgetbtn {
    font-size: 18px;
    padding: 1px 8px;
  }

  input.forgetinput {
    font-size: 12px;
    margin: 10px 12px;
    padding: 4px 20px;
  }

  img.forgotlogo {
    width: 160px;
    margin: 28px auto;
  }

  h2.rest-pass {
    font-size: 20px;
  }

  label.pasword-forget {
    font-size: 14px;
  }

  .password-input {
    padding: 12px;
    margin: 0;
  }

  input.pasword {
    padding: 2px 16px;
  }

  button.submit-forget {
    font-size: 12px;
    padding: 6px 6px;
  }

  .password-toggle-icon {
    padding: 2px 4px;
  }
}
