.button-container {
  display: flex;
  margin-bottom: 15px;
  height: 55px;
  width: 350px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.button-text {
  color: white;
  text-align: center;
  font-size: 1.75rem;
  font-family: Noto sans;
  font-weight: 600;
}
